{:highlights [{:id #uuid "654ec61d-561f-4b7a-ba3f-f3781b36cf62",
               :page 65,
               :position {:bounding {:x1 0,
                                     :y1 141.95963382720947,
                                     :x2 521.686767578125,
                                     :y2 482.15059757232666,
                                     :width 623.68,
                                     :height 907.1999999999999},
                          :rects ({:x1 0,
                                   :y1 141.95963382720947,
                                   :x2 0,
                                   :y2 161.4040765762329,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 0,
                                   :y1 157.96440982818604,
                                   :x2 0,
                                   :y2 177.40885257720947,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 0,
                                   :y1 173.96917057037354,
                                   :x2 0,
                                   :y2 193.41361331939697,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 0,
                                   :y1 189.9739465713501,
                                   :x2 0,
                                   :y2 209.41838932037354,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 0,
                                   :y1 205.97872257232666,
                                   :x2 0,
                                   :y2 225.4231653213501,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 0,
                                   :y1 221.98349857330322,
                                   :x2 0,
                                   :y2 241.42794132232666,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 0,
                                   :y1 237.98827457427979,
                                   :x2 0,
                                   :y2 257.43270206451416,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 0,
                                   :y1 253.99303531646729,
                                   :x2 0,
                                   :y2 273.4374933242798,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 0,
                                   :y1 269.9978265762329,
                                   :x2 0,
                                   :y2 289.4422540664673,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 299.8589172363281,
                                   :y1 274.66362857818604,
                                   :x2 520.7634887695312,
                                   :y2 288.5525140762329,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 0,
                                   :y1 286.0025873184204,
                                   :x2 0,
                                   :y2 305.4470453262329,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 107.82334899902344,
                                   :y1 292.2634515762329,
                                   :x2 521.3482055664062,
                                   :y2 306.1523370742798,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 0,
                                   :y1 302.00737857818604,
                                   :x2 0,
                                   :y2 321.4518060684204,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 108.13801574707031,
                                   :y1 309.8632745742798,
                                   :x2 521.376953125,
                                   :y2 323.75216007232666,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 107.82334899902344,
                                   :y1 327.46309757232666,
                                   :x2 521.6810913085938,
                                   :y2 341.35198307037354,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 107.82334899902344,
                                   :y1 345.06292057037354,
                                   :x2 521.4653930664062,
                                   :y2 358.9518060684204,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 107.82334899902344,
                                   :y1 362.6627435684204,
                                   :x2 521.686767578125,
                                   :y2 376.5516290664673,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 108.45269012451172,
                                   :y1 380.2625665664673,
                                   :x2 521.6462326049805,
                                   :y2 394.15145206451416,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 108.13801574707031,
                                   :y1 397.86238956451416,
                                   :x2 521.6553955078125,
                                   :y2 411.75127506256104,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 107.51952362060547,
                                   :y1 415.46221256256104,
                                   :x2 521.35693359375,
                                   :y2 429.3510980606079,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 107.51952362060547,
                                   :y1 433.0620355606079,
                                   :x2 521.2968139648438,
                                   :y2 446.9509515762329,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 107.2048568725586,
                                   :y1 450.6618890762329,
                                   :x2 521.353271484375,
                                   :y2 464.5507745742798,
                                   :width 623.68,
                                   :height 907.1999999999999}
                                  {:x1 108.13801574707031,
                                   :y1 468.2617120742798,
                                   :x2 335.8589782714844,
                                   :y2 482.15059757232666,
                                   :width 623.68,
                                   :height 907.1999999999999}),
                          :page 65},
               :content {:text "Although the experts in education had been aware of the existence of large numbers of individuals in the population whose ability to read, write, and reckon was totally non-existent or minimal, there had been no widespread concern with the problem of illiteracy in the pre-war years. T h e only significant attempt to remedy the lack of schooling and the lack of literacy among young adults, even as late as the 1930's, was the basic instruction provided by the Civilian Conservation Corps and the Works Progress Administration. It was the large-scale screening of the younger male population consequent to the passage of the Selective Service Act of 1940 that turned a local and isolated fact into a national problem"},
               :properties {:color "yellow"}}],
 :extra {:page 15}}
